<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"> <!-- specifies the character encoding for the html document -->
			<link href="/styles/style.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  <!--jQuery from CDN -->
			<script src="/scripts/gamePlay.js"></script> <!-- local javascript file-->
			<title>Battleship</title>
		</head>
		<body>
      <div class= header>
        <h1>Battleship </h1>
			  <div id="controls">
          <div id= "buttons">
          <button id="new">START NEW GAME!</button>
          </div>
          <div id="intructions"></div>
          <!--Instructions will be printed to the user here-->
        </div>     
      </div>

      <div class= gamespace>
        <!-- Server boardspace -->
        <div class= boardspace>
          <div class= yAxis></div>
          <div class= board id= "serverboard"> 
            <!-- TILES ETC. WILL GO HERE-->
          </div>
          <div class= xAxis></div>
        </div>
        <!-- User boardspace -->
        <div class= boardspace id: userboard>
            <div class= yAxis></div>
            <div class= board id= "userboard"> <!-- TILES ETC. WILL GO HERE--></div>
            <div class= xAxis></div>
          </div>
      </div>

      <div class= gameOutput>
        <div class= shiplog id= servershiplog></div> <!-- Log of Server's ships-->
        <div class= shiplog id= gamelog></div> <!-- Log of all game's activities-->
        <div class= shiplog id= servershiplog></div> <!-- Log of Server's ships-->
      </div>   
		</body>
  </html>
