* {
	border-style: dotted;
	border-color: red;
}


#controls {
	height: 120px;
	width: 100%;
	margin: 0 auto;
	background-color: magenta
}

#buttons {
	height: 50px;
	background-color: cyan;
}

.gamespace {
	width: 100%;
	display: flex;
	margin-left: 15px;
	margin-right: 15px;
}

.boardspace{
	width: 50%;
	height: 600px;
	background-color: #1892EE;
	display: inline-block;
	border: 5px solid black;
}

.board{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background-color: yellow;
	position: relative;
	bottom: -10%;
}

.tile{
	float:left;
	border: 0px solid white;
	background-color: #bf3eff;
	height: 50px;
	width: 50px;
}


h1 {
	text-align: center;
	font-family: arial;
	font-size: 60px;
}

.button{
	text-align:center;
	margin: auto;
}

button {
	background-color: #00ced1;
	font-size: 24px;
	padding: 10px 24px;
	border-radius: 12px;
	text-align: center;
	color: white;
	font-weight:bold;
}

button:hover {
    background-color: white; 
    color: black;

}